*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}


.nav-bar{
    background-color: #222831;
}

.search-bar{
    border-radius: 10px;
    height: 2rem;
    width: 18rem;
    font-size: small;
}

.result{
    padding: 0.3rem;
}

.result a{
    text-decoration: none;
    color: black;
}

.result:hover{
    background-color: #222831;
}

.result a:hover{
    color:white;
}

.login-btn{
    border-radius: 20px;
    /* background-color: #00ADB5; */
    color: #00ADB5;
    border: 1px solid #00ADB5;
    font-size: small;
}

.signup-btn{
    border-radius: 20px;
    background-color: #393E46;
    border: 1px solid #393E46;
    margin-left: 0.5rem;
    font-size: small;
}

.signup-btn:hover{
    background-color: #313438;
    border: 1px solid #313438;
}

.login-btn:hover{
    background-color: #009DB5;
    border: 1px solid #00ADB5;
    color: white;
}

.news-container{
    display: flex;
    overflow-x: auto;
    padding: 1.5rem;
    height: 35rem;
    background-color: #1e1e1e;
}

.news-container::-webkit-scrollbar{
    display: none;
}

.news-card{
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 1.5rem;
    /* padding: 0.5rem; */
    width: 20rem;
    background-color: #141414;
    overflow: hidden;
}

.news-card img {
    width: 100%;
    height: 50%;
    opacity: 0.85;
    /* margin-top: 2rem;
    margin-right: 20rem;
    max-height: 50%;
    vertical-align: top;
    opacity: 0.85;
    transform: rotate(20deg); */
  }

.news-card h2 {
    margin: 0 0 10px;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.2em;
    color: white;
  }

.news-card p {
    /* margin: 1rem; */
    font-size: 1rem;
    letter-spacing: 1px;
    opacity: 0.8;
    color: white;
  }

.caption{
    height: 10rem;
    margin: 0.5rem;
}

.news-card a {
    padding: 5px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 0.7em;
    text-transform: uppercase;
    text-decoration: none;
    margin: 1rem;
    display: inline-block;
    opacity: 0.65;
    width: 47%;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
  }


.news-card a:hover {
    opacity: 1;
  }

.date {
    /* position: absolute; */
    /* background-color: #1e1e1e; */
    top: 0;
    right: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    text-align: right;
    font-size: 0.8em;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
  }

.features{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 45rem;
    background-color: #F9F7F7;
    /* border: 1px solid blue; */
}

.features img{
    height: 50%;
    width: 40%;
    transform: rotate(10deg);
}

.feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 40%;
    background-color: #222831;
    border-radius: 20px;
    font-size: 1rem;
    letter-spacing: 1px;
    color: white;
}

.feature h2{
    margin-bottom: 2rem;
}

/* .feature:hover{
    box-shadow: 5px 10px #393E46;
    height: 65%;
    width: 45%;
    font-size: 1.2rem;
} */


.features{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.feature:nth-child(2){
    transition-delay: 200ms;
}

@media(prefers-reduced-motion) {
    .features{
        transition: none;
    }
}

.page-footer{
    height: 25rem;
    background-color: #222831;
    color: white;
}

.page-footer a{
    text-decoration: none;
    color: white;
    font-size: small;
}

.result-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45rem;
    /* background-color: #222831; */
}

.result-container h2{
    color: white;
}

.result-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 38rem;
    width: 60%;
    /* background-color: #141414; */
    border-radius: 20px;
    color:#00ADB5;
}

.result-row{
    display: flex;
    justify-content: space-between;
    background-color: #393E46;
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    margin-top: 0.5rem;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:45rem;
    /* background-color: #222831; */
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222831;
    border-radius: 10px;
    height: 50%;
    width: 40%;
    color: white;
}

.auth-btn{
    margin-top: 1rem;
}

.auth-btn button{
    width: 100%;
    border: 1px solid #00ADB5;
    border-radius: 5px;
    background-color: #00ADB5;
    color: #141414;
}

.signup-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:45rem;
    /* background-color: #222831; */
}

.signup-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222831;
    border-radius: 10px;
    height: 60%;
    width: 40%;
    color: white;
}

.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:45rem;
    /* background-color: #222831; */
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222831;
    border-radius: 10px;
    height: 60%;
    width: 40%;
    color: white;
}

input[name="message"]{
    height: 10rem;
    width: 300px;
}

input{
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid silver;
}

.password-checklist{
    padding-top: 0.5rem;
    height: 35%;
    font-size: small;
}